.container-fluid {
  max-width: 600px;   
  margin: 0 auto;
  padding: 2rem;
  font-size: 18px;

}

.name {
  cursor: pointer;
}

@media (max-width: 740px) {
  .container-fluid{
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

