<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"  routerLink="/" routerLinkActive="active">GOT quotes?</a>
    </li>      
    <li class="nav-item">
      <a class="nav-link"  routerLink="/houses" routerLinkActive="active">Houses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/persons" routerLinkActive="active">Characters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/quotes" routerLinkActive="active">Quotes</a>
    </li>      
</ul>



<div class="container p-5">
  <router-outlet></router-outlet>
</div>