.container-fluid {
  max-width: 600px;
  min-height: 700px;
  margin: 0 auto;
  padding: 5rem;
  font-size: 18px;
  justify-content: center;
}

.name {
  cursor: pointer;
  font-size: medium;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-style: italic;
  min-height: 300px;
}

@media (max-width: 740px) {
  .container-fluid{
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

